<a href="https://colab.research.google.com/github/AkulaAnshul/MLP/blob/main/GA_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/Week1_GA_dataset.csv', na_values=['?'])

print("="*80)
print("DATASET INFO")
print("="*80)
print(f"Shape of dataset: {df.shape}")
print("\nFirst few rows:")
print(df.head())
print("\nColumn names:")
print(df.columns.tolist())

print("\n" + "="*80)
print("QUESTION 1: Even indexed rows - value at [0, 3]")
print("="*80)
df_even_rows = df.iloc[::2]
value_even_0_3 = df_even_rows.iloc[0, 3]
print(f"Answer: {value_even_0_3}")
print(f"Column name: {df.columns[3]}")

print("\n" + "="*80)
print("QUESTION 2: Even indexed rows - value at [332, 3]")
print("="*80)
df_even_rows = df.iloc[::2]
value_even_332_3 = df_even_rows.iloc[332, 3]
print(f"Answer: {value_even_332_3}")

print("\n" + "="*80)
print("QUESTION 3: Odd indexed rows - value at [332, 3]")
print("="*80)
df_odd_rows = df.iloc[1::2]
value_odd_332_3 = df_odd_rows.iloc[332, 3]
print(f"Answer: {value_odd_332_3}")
print(f"Type: {type(value_odd_332_3)}")

print("\n" + "="*80)
print("QUESTION 4: Odd indexed columns - value at [100, 5]")
print("="*80)
df_odd_cols = df.iloc[:, 1::2]
print(f"Odd indexed column names: {df_odd_cols.columns.tolist()}")
value_odd_cols_100_5 = df_odd_cols.iloc[100, 5]
print(f"Answer: {value_odd_cols_100_5}")

print("\n" + "="*80)
print("QUESTION 5: Even indexed columns and rows - value at [255, 3]")
print("="*80)
df_even_both = df.iloc[::2, ::2]
print(f"Even indexed column names: {df_even_both.columns.tolist()}")
value_even_both_255_3 = df_even_both.iloc[255, 3]
print(f"Answer: {value_even_both_255_3}")

print("\n" + "="*80)
print("QUESTION 6: Samples from six most recent years")
print("="*80)
six_most_recent_years = sorted(df['Year'].dropna().unique(), reverse=True)[:6]
print(f"Six most recent years: {six_most_recent_years}")
samples_recent_years = df[df['Year'].isin(six_most_recent_years)].shape[0]
print(f"Answer: {samples_recent_years}")

print("\n" + "="*80)
print("QUESTION 7: Samples with num_rooms = 3 AND num_bathrooms = 3")
print("="*80)
samples_3_and_3 = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)].shape[0]
print(f"Answer: {samples_3_and_3}")

print("\n" + "="*80)
print("QUESTION 8: Samples with num_rooms = 3 OR num_bathrooms = 3")
print("="*80)
samples_3_or_3 = df[(df['num_rooms'] == 3) | (df['num_bathrooms'] == 3)].shape[0]
print(f"Answer: {samples_3_or_3}")

print("\n" + "="*80)
print("QUESTION 9: Year 2022, Greenwich, num_rooms = 3, facing North or East")
print("="*80)
samples_2022_greenwich = df[
    (df['Year'] == 2022) &
    (df['Locality'] == 'Greenwich') &
    (df['num_rooms'] == 3) &
    ((df['Face'] == 'North') | (df['Face'] == 'East'))
].shape[0]
print(f"Answer: {samples_2022_greenwich}")

print("\n" + "="*80)
print("QUESTION 10: Samples from August")
print("="*80)
df['Date_parsed'] = pd.to_datetime(df['Date'], errors='coerce')
df['Month'] = df['Date_parsed'].dt.month
samples_august = df[df['Month'] == 8].shape[0]
print(f"Answer: {samples_august}")

print("\n" + "="*80)
print("QUESTION 11: Locality with highest average Sale Price")
print("="*80)
avg_sale_price_by_locality = df.groupby('Locality')['Sale Price'].mean().sort_values(ascending=False)
print("Average Sale Price by Locality:")
print(avg_sale_price_by_locality)
print(f"\nAnswer: {avg_sale_price_by_locality.idxmax()}")

print("\n" + "="*80)
print("ALL ANSWERS COMPLETE")
print("="*80)

================================================================================
DATASET INFO
================================================================================
Shape of dataset: (10000, 12)

First few rows:
         Date  Year    Locality  Estimated Value  Sale Price       Property  \
0  2009-01-02  2009   Waterbury         111440.0    185000.0  Single Family
1  2009-01-02  2009  Bridgeport         124670.0    150000.0     Two Family
2  2009-01-02  2009   Waterbury          55720.0    140000.0  Single Family
3  2009-01-02  2009  Bridgeport        4775276.0    272900.0  Single Family
4  2009-01-02  2009  Bridgeport         112351.0    210000.0            NaN

      Residential  num_rooms  num_bathrooms  carpet_area  property_tax_rate  \
0  Detached House          3              3        996.0           1.025953
1          Duplex          4              3       1241.0           1.025953
2  Detached House          3              2        910.0           1.025953
3  Detached House          3              1        971.0           1.025953
4  Detached House          3              2       1092.0           1.025953

    Face
0  South
1  South
2  South
3   East
4   East

Column names:
['Date', 'Year', 'Locality', 'Estimated Value', 'Sale Price', 'Property', 'Residential', 'num_rooms', 'num_bathrooms', 'carpet_area', 'property_tax_rate', 'Face']

================================================================================
QUESTION 1: Even indexed rows - value at [0, 3]
================================================================================
Answer: 111440.0
Column name: Estimated Value

================================================================================
QUESTION 2: Even indexed rows - value at [332, 3]
================================================================================
Answer: 256200.0

================================================================================
QUESTION 3: Odd indexed rows - value at [332, 3]
================================================================================
Answer: 352940.0
Type: <class 'numpy.float64'>

================================================================================
QUESTION 4: Odd indexed columns - value at [100, 5]
================================================================================
Odd indexed column names: ['Year', 'Estimated Value', 'Property', 'num_rooms', 'carpet_area', 'Face']
Answer: West

================================================================================
QUESTION 5: Even indexed columns and rows - value at [255, 3]
================================================================================
Even indexed column names: ['Date', 'Locality', 'Sale Price', 'Residential', 'num_bathrooms', 'property_tax_rate']
Answer: Detached House

================================================================================
QUESTION 6: Samples from six most recent years
================================================================================
Six most recent years: [np.int64(2022), np.int64(2021), np.int64(2020), np.int64(2019), np.int64(2018), np.int64(2017)]
Answer: 4749

================================================================================
QUESTION 7: Samples with num_rooms = 3 AND num_bathrooms = 3
================================================================================
Answer: 2730

================================================================================
QUESTION 8: Samples with num_rooms = 3 OR num_bathrooms = 3
================================================================================
Answer: 8591

================================================================================
QUESTION 9: Year 2022, Greenwich, num_rooms = 3, facing North or East
================================================================================
Answer: 42

================================================================================
QUESTION 10: Samples from August
================================================================================
Answer: 1050

================================================================================
QUESTION 11: Locality with highest average Sale Price
================================================================================
Average Sale Price by Locality:
Locality
Greenwich        2.270224e+06
Fairfield        7.277225e+05
Stamford         6.305313e+05
Norwalk          5.590959e+05
West Hartford    3.385472e+05
Bridgeport       1.740953e+05
Waterbury        1.062152e+05
Name: Sale Price, dtype: float64

Answer: Greenwich

================================================================================
ALL ANSWERS COMPLETE
================================================================================