<a href="https://colab.research.google.com/github/AkulaAnshul/MLP/blob/main/GA_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/content/Week1_GA_dataset.csv')
print(df.head())

         Date  Year    Locality  Estimated Value  Sale Price       Property  \
0  2009-01-02  2009   Waterbury         111440.0    185000.0  Single Family
1  2009-01-02  2009  Bridgeport         124670.0    150000.0     Two Family
2  2009-01-02  2009   Waterbury          55720.0    140000.0  Single Family
3  2009-01-02  2009  Bridgeport        4775276.0    272900.0  Single Family
4  2009-01-02  2009  Bridgeport         112351.0    210000.0              ?

      Residential  num_rooms  num_bathrooms  carpet_area  property_tax_rate  \
0  Detached House          3              3        996.0           1.025953
1          Duplex          4              3       1241.0           1.025953
2  Detached House          3              2        910.0           1.025953
3  Detached House          3              1        971.0           1.025953
4  Detached House          3              2       1092.0           1.025953

    Face
0  South
1  South
2  South
3   East
4   East

In [3]:
#1: Count unknown ("?") values and replace with NaN
unknown_count = (df == '?').sum().sum()
print(f"Number of unknown ('?') values in the dataset: {unknown_count}")

df = df.replace('?', np.nan)
print("\nUnknown values replaced with NaN")

Number of unknown ('?') values in the dataset: 1823

Unknown values replaced with NaN

In [4]:
#2: What is the shape of the dataset?
shape = df.shape
print(f"Shape of the dataset: {shape}")
print(f"Answer: ({shape[0]}, {shape[1]})")

Shape of the dataset: (10000, 12)
Answer: (10000, 12)

In [5]:
#3: Value at 692th indexed row and 0th indexed column
value_692_0 = df.iloc[692, 0]
print(f"Value at df[692, 0]: {value_692_0}")

Value at df[692, 0]: 2009-11-16

In [6]:
#4: Value at 546th indexed row and 7th indexed column
value_546_7 = df.iloc[546, 7]
print(f"Value at df[546, 7]: {value_546_7}")

Value at df[546, 7]: 3

In [7]:
#5: Unique values in Locality feature
unique_locality = df['Locality'].unique()
print("Unique values in Locality feature:")
print(sorted([str(x) for x in unique_locality if pd.notna(x)]))

Unique values in Locality feature:
['Bridgeport', 'Fairfield', 'Greenwich', 'Norwalk', 'Stamford', 'Waterbury', 'West Hartford']

In [8]:
#6: Features with missing (NaN) values
missing_features = df.columns[df.isnull().any()].tolist()
print("Features with missing (NaN) values:")
for feature in missing_features:
    print(f"  - {feature}: {df[feature].isnull().sum()} missing values")

Features with missing (NaN) values:
  - Locality: 1253 missing values
  - Estimated Value: 1243 missing values
  - Property: 1823 missing values
  - carpet_area: 1229 missing values

In [9]:
#7: Feature with most missing (NaN) values
missing_counts = df.isnull().sum()
most_missing_feature = missing_counts.idxmax()
most_missing_count = missing_counts.max()
print(f"Feature with most missing values: {most_missing_feature}")
print(f"Number of missing values: {most_missing_count}")

Feature with most missing values: Property
Number of missing values: 1823

In [10]:
#8:Drop rows with missing values strictly greater than 2
df_dropped_gt2 = df[df.isnull().sum(axis=1) <= 2]
samples_remaining = len(df_dropped_gt2)
print(f"Samples remaining after dropping rows with missing values > 2: {samples_remaining}")

Samples remaining after dropping rows with missing values > 2: 9917

In [11]:
#9: Drop all rows with any missing values
df_no_missing = df.dropna()
samples_remaining_no_na = len(df_no_missing)
print(f"Samples remaining after dropping all rows with missing values: {samples_remaining_no_na}")

Samples remaining after dropping all rows with missing values: 5449